﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="WebApplication1.SiteMaster" %>

<!DOCTYPE html>
    
<html lang="en">
<head runat="server">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %></title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="/Content/css" />

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="/content/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/content/font-awesome.css">

    <link rel="stylesheet" href="/content/templatemo-breezed.css">

    <link rel="stylesheet" href="/content/owl-carousel.css">

    <link rel="stylesheet" href="/content/lightbox.css">

    <link rel="stylesheet" href="/content/timeline.css">

    <link rel="stylesheet" type="text/css" href="/content/custom.css">

</head>

<body class="d-flex flex-column min-vh-100">
    <header class="header-area header-sticky background-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="Default.aspx" class="logo">
                            ./reg_log
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a id="Home" class="">Home</a></li>
                            <li><a id="Register" class="">Register</a></li>
                            <li><a id="Login" class="">Login</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="spacing">
    <div id="about" class="container clear-top " style="margin-bottom:auto">
        <section class="section">
            <div class="container" style="padding:10px;">
                <div class="section-heading">
                    <h6><%: Page.Title %></h6>
                    <h2><%: ViewState["Heading"] %></h2>
                </div>

                <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            </div>
        </section>
    </div>
    </div>
    <footer class="footer mt-auto" style="padding-left:10px; margin-top: 40px">
        <p style="color:white">&copy; 2021 - reg_log</p>
    </footer>


    <!-- jQuery -->
    <script src="/Scripts/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/Scripts/popper.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/Scripts/owl-carousel.js"></script>
    <script src="/Scripts/scrollreveal.min.js"></script>
    <script src="/Scripts/waypoints.min.js"></script>
    <script src="/Scripts/jquery.counterup.min.js"></script>
    <script src="/Scripts/imgfix.min.js"></script>
    <script src="/Scripts/slick.js"></script>
    <script src="/Scripts/lightbox.js"></script>
    <script src="/Scripts/isotope.js"></script>

    <!-- Global Init -->
    <script src="Scripts/custom.js"></script>

    <!--Styles the menu to active if on correct page-->
    <script defer>
        $(function () {
            const title = $(document).attr("title");
            $(`#${title}`).addClass("active");
        });
    </script>

</body>
</html>

