.img-noFill {
    width: initial !important;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}

    .img-noFill img {
        min-height: initial !important;
        min-width: initial !important;
        position: relative;
        display: inline-block;
        max-width: 100%;
    }

.emph {
    font-size:larger; 
    color:#2e4f02
}

.green-background {
    background-color: #5FB759;
}

.green-text {
    color: #5FB759;
}

footer a:any-link {
    color: antiquewhite;
    font-style: italic;
}

.emph2 {
    /*color: #c3ffbf;*/
   
    font-size: larger;
    font-style: italic;
    font-family: 'Source Serif Pro', serif;
    font-weight: 900;
}


html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
}

.spacing * {
    padding: 10px;
}

tr, td {
    padding:15px;
}