﻿@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');

body {
    font-family: 'Raleway';
}

h1 {
    font-size: 9vw;
    font-weight: 700; /* change to 800 if giving problems */
}


h2 {
    font-size: 8vw;
}